@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    font-family: 'Playfair Display','Oleo Script', serif;
}


#header {
    position: relative ;
    height: 100vh;
    width: 100vw;
}

.navigation {
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
    justify-content: flex-end;
    align-items: center;
}

.links {
    text-decoration: none;
    color: #000;
    margin-right: 40px;
}

#about {
    background-color: blue;
    height: 100vh;
    width: 100vw;
}

#projects {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
}

.carousel > h1 {
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-size: 4rem;
}

#footer {
    background-color: rgb(0, 255, 21);
    height: 100vh;
    width: 100vw;
}
